@media only screen and (min-width: 600px){
    
    body{
    background-image: url("https://i.ibb.co/kMYHKwF/Design-sem-nome-10.png"); 
    background-size: cover;
    background-repeat: repeat;}

    main{
    width: 90%;
    margin: auto;
    margin-top: 180px;}

    header{
    position:sticky ;
    top: 0;
    width: 100%;}
  
    .title{display: flex; justify-content: center; align-items: center; font-family: 'Abril Fatface', serif;}

    nav{
    display: flex; 
    align-items: center;
      justify-content: center;
    }
  
    ul{padding: 0px;}

    header{background-color: rgba(0, 0, 0); margin:0; margin-bottom: 15px;}

    ul{
    font-family: 'Bree Serif', serif;      
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;}
  
    p, a{
      font-family: 'Bree Serif', serif;
      font-size: 25px;}
    h1{font-size: 30;font-family: 'Abril Fatface', serif; letter-spacing: .2rem;}
    



    .boxagendamento
    {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin-top: 25px;
    }

    .whatsapp{
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: 1fr;
      column-gap: 10px;
      row-gap: 25px;
      width: 80%;
      margin: 25px;
      

    }

    .boxwhatsapp
    {
      display: flex;
      align-items: center;
      justify-content: center;
      
    }

    div .boxwhatsapp a{
      background-color: black;
      border-radius: 25px;
      border: 1px solid #FEBD59; 
      box-shadow: #FEBD59;
      padding: 25px;}

    .sectionbox
    {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
      width: 60%;
      margin-top: 25px;
    }
    
    .servicos
    {
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      column-gap: 10px;
      row-gap: 25px;
      
    }
  
    .imgservico
    {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      margin: auto;
    }
  
    #imgservico1, #imgservico2, #imgservico3
    
    {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  
    .textservico{
      
     padding: 25px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    }



  .galeria
  { 
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto;
    /* border: 1px solid #FEBD59;  */
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .gridbox
  {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr ;
    column-gap: 25px;
    row-gap: 25px;
    width: 80%;
    margin: 25px;
  }
  
  .gridimage
  {
    width: 360px;
    height: 360px;
    border: 1px solid #FEBD59; 
    margin: auto;

  }
  .grid
  {
    margin: auto;
    width: 360px;
    height: 360px;
  }
  

  
    /* .agendamento{
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    margin-top:70px; 
    row-gap: 5px;
    border: 1px solid #FEBD59; 
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);} */
    
    /* #agendamentologo{margin-right: 0.5rem;} */
    
    .socialmidia
    {
      margin: 35px auto;
      /* border: 1px solid #FEBD59;  */
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
    }
  

    
  .instagram{
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* border: 1px solid #FEBD59;  */
  margin: auto;
  width: 100%;}
  
  #instagram{
    border: 1px solid #FEBD59; 
    margin: auto;
  }
   
  .instatext{
    padding: 25px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
      
  .textolocalidade 
  {
    display: flex;
    justify-content: center; 
    background: black;
    width: 100%;
    margin-top: 25px;
    
  }

  


  

  #mapa {height: 500px;width: 100%;}

    footer 
    {
      background: rgba(0, 0, 0);
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: baseline;
      padding: 15px;
      text-align: center;
      margin-top: auto; /* Push the footer to the bottom */
    }
  #footer.hover
  {
    
    text-decoration: underline;
    text-decoration-color: white; 
    color: white;
  }
  

  .item1 {grid-area: item1;}
  .item2 {grid-area: item2;}
  .item3 {grid-area: item3;}
   
  .footerbox{
    
    width: 80%;
    display: grid;
    justify-content: center;
    grid-template-areas:
     'item1 item2'
      'item3 item3';
    column-gap: 10px;
    
  
    
    
  }
  

  /* HEADER FIXER */
  html {
    height: 100%;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    display: flex; /* This makes the body a flex container */
    flex-direction: column; /* Sets the flex container to have a vertical column layout. */
    min-height: 100vh; /* Ensures that the body takes up at least the full height of the viewport. */
    box-sizing: inherit;
  }
  
}
  
  
  
