@media only screen and (max-width: 600px){
  html{scroll-behavior: smooth;
  scroll-padding-top: 45px;}


  
  p, a{font-family: 'Bree Serif', serif;}
  h1{font-family: 'Abril Fatface', serif; letter-spacing: .2rem;}
    
  body{
    background-image: url("https://i.ibb.co/K9QNw4M/Design-sem-nome-2.png"); 
  background-size: cover;
  background-repeat: repeat;}

  header{
  top: 0;
  width: 100%;
  margin: 0;}

  main{
  width: 90%;
  margin: auto;
  margin-top: 180px;}

  strong, span{color: #FEBD59; font-weight: bold;}
  
  h1, .agendamento a, .nav ul, .nav a {font-size: 16px;}
  h2{font-size: 14px;color: #FEBD59}
  p, #p1 {text-align: center; font-size: 12px; width: 80%;}
  h3, h4, h5{color: white;font-size: 12px;margin: 0px;}
  

  
  main{
    width: 90%;
    margin: auto;
    margin-top: 180px;}

    header{
    position:sticky ;
    top: 0;
    width: 100%;}
  
    .title{display: flex; justify-content: center; align-items: center; font-family: 'Abril Fatface', serif;}

    nav{
    display: flex; 
    align-items: center;
    justify-content: center;
    }

    ul{padding: 0px;}

    header{background-color: rgba(0, 0, 0); margin:0; margin-bottom: 15px;}

    ul{
    font-family: 'Bree Serif', serif;      
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .boxagendamento
  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .whatsapp{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 25px;
    width: 80%;
    margin: 25px;
    

  }

  .boxwhatsapp
  {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  div .boxwhatsapp a{
    background-color: black;
    border-radius: 25px;
    border: 1px solid #FEBD59; 
    box-shadow: #FEBD59;
    padding: 25px;
  }

  .sectionbox
  {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .servicos
  {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    column-gap: 2px;
    row-gap: 2px;
    width: 80%;
    margin: 25px;
  }

  .imgservico
  {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
    margin: auto;
  }

  #imgservico1, #imgservico2, #imgservico3
  
  {
    margin: 0;
    width: 200px;
    height: 200px;
    border: 1px solid #FEBD59;  
    
  }

  .textservico{
    
   padding: 25px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  }



.galeria
{ 
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  /* border: 1px solid #FEBD59;  */
  width: 100%;
  
  background-color: rgba(0, 0, 0, 0.5);
}

.gridbox
{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
  width: 80%;
  margin: 25px;
}

.gridimage
{
  width: 150px;
  height: 150px;
  border: 1px solid #FEBD59; 
  margin: auto;

}
.grid
{
  margin: auto;
  width: 150px;
  height: 150px;
}




  
  .socialmidia
  {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    width: 80%;
    margin: 25px;
  }


  
.instagram{
/* background-color: rgba(0, 0, 0, 0.5); */
/* border: 1px solid #FEBD59;  */
margin: auto;
width: 100%;}

#instagram{
  border: 1px solid #FEBD59; 
  margin: auto;
  
}
 
.instatext{
  padding: 25px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
    
.textolocalidade 
{
  display: flex;
  justify-content: center; 
  background: black;
  width: 100%;
  margin-top: 25px;
  
}






#mapa {height: 500px;width: 100%;}

footer 
{
  background: rgba(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: baseline;
  padding: 15px;
  text-align: center;
  margin-top: auto; /* Push the footer to the bottom */
}
#footer.hover
{
  
  text-decoration: underline;
  text-decoration-color: white; 
  color: white;
}


.item1 {grid-area: item1;}
.item2 {grid-area: item2;}
.item3 {grid-area: item3;}
 
.footerbox{
  
  display: grid;
  justify-content: center;
  grid-template-areas:
   'item1 item2'
    'item3 item3';
  column-gap: 10px;
  

  
  
}


/* HEADER FIXER */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex; /* This makes the body a flex container */
  flex-direction: column; /* Sets the flex container to have a vertical column layout. */
  min-height: 100vh; /* Ensures that the body takes up at least the full height of the viewport. */
  box-sizing: inherit;
}

}



